/* Header */
header {
  background-color: #030502;
  padding: 10px;
}

/* Desktop header */
.dsktop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
}

/* Image div */
.img-div {
  color: #fff; /* Example text color */
  font-size: 20px; /* Example font size */
}

/* Navigation */
nav {
  margin-left: 20px; /* Example margin */
}

/* Menu list */
.dsktop-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Menu items */
.dsktop-menu-list li {
  display: inline-block;
  margin-right: 10px; /* Example margin */
}

/* NavLink styling */
.dsktop-menu-list li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 24px;
}

/* NavLink hover effect */
.dsktop-menu-list li a:hover {
  background-color: #555; /* Example background color on hover */
}

.mobile-header {
  display: none;
}

@media (max-width: 767px) {
  header {
    background-color: unset;
    padding: unset;
  }
  .dsktop-header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  .mobile-header nav {
    position: absolute;
    background-color: #000;
    height: 100vh;
    width: 100%;
    z-index: 1;
    top: 0;
    margin: 0;
    transition: all 1s ease-out;
    left: 0%;
  }
  .hamburger-menu {
    position: absolute;
    bottom: 45px;
    right: 36px;
    border-radius: 8px;
    padding: 0px 12px;
    z-index: 2;
  }
  .mobile-menu-list {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .mobile-menu-list li {
    list-style: none;
    margin: 12px -17px;
  }
  .mobile-menu-list li a {
    color: #fff;
  }
}
